manuscript/figures/A_E_S_convergence-eps-converted-to.pdf
manuscript/figures/Eww_convergence-eps-converted-to.pdf
manuscript/manuscript.bbl
manuscript/manuscript.blg
manuscript/manuscript.fdb_latexmk
manuscript/manuscript.fls
manuscript/manuscript.log
manuscript/manuscript.out
manuscript/manuscript.pdf
manuscript/manuscript.suppinfo
manuscript/manuscript.synctex.gz
manuscript/manuscript.aux
manuscript/manuscript.upa
